
@{
	ViewData["Title"] = "Completed";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>Completed projects include a troll website that I made of one of my friends, HTML and CSS finals, Javascript finale, and my C# finale.</p>
@await Html.PartialAsync("_Sidebar");

