@{
	ViewData["Title"] = "Current";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>right now I do not have any current plans mainly because I'm just starting to learn how to use ASP.NET Core</p>
@await Html.PartialAsync("_Sidebar");
