@{
	ViewData["Title"] = "Ideas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData</h2>
<ul>
	<li>would like to implament asp.net core to one of my previous projects</li>
	<li>would like to replacate a website like amazon or costco</li>
	<li>just wanna experiement with ASP.NET Core and see what comes to mind</li>
</ul>

@await Html.PartialAsync("_Sidebar");
